[Desktop Entry]
Type=Application
Name=1Password
Exec=1password %U
Icon=com.onepassword.OnePassword
Terminal=false
Categories=Utility;Security;
StartupWMClass=1Password
MimeType=x-scheme-handler/onepassword;